#temp-container {
    max-width: 16vw;
    max-height: 8vh;

    text-align: center;
    align-content: center;

    position: absolute;
    left: 0;

    text-align: center;
    z-index: 1;
    padding: 0.5em;
}
    
    #river-temp {
        color: #80d0b0;
        font-size: 20px;
        font-weight: bold;
    }

@media (max-width: 800px) {
    #temp-container {
        max-width: 25vw;
        max-height: 5vh;

        text-align: center;
        align-content: center;

        position: absolute;
        left: 0;
    }
}

/* SCROLLBAR JE ZA BOOMERJE! */

/* za fuhrerfox */
html {
    scrollbar-width: none !important;
}

/* za 50shades of chromium */
html::-webkit-scrollbar {
    display: none !important;
}


/* ZA BARVE! */
@media (prefers-color-scheme: dark) {
  /* spremen root.css */
}

@media (prefers-color-scheme: light) {
  /* spremen root.css  */
}