#temp-container {
    max-width: 10vw;
    max-height: 5vh;

    text-align: center;
    align-content: center;

    position: absolute;
    right: 0;
}
    
    #river-temp {
        color: mediumseagreen;
    }

/* SCROLLBAR JE ZA BOOMERJE! */

/* za fuherfox */
html {
    scrollbar-width: none;
}

/* za 50shades of chromium */
html::-webkit-scrollbar {
    display: none;
}