/* ------------------- MOBILNIKI -------------------  */

@media (max-width: 800px) {
	
	/*MANJSHI THEXT*/
	p, a {
		color: var(--text-color);
		font-size: 1.2rem;
		font-weight: 600;
	}

	/* da contact list ni prevelk */
	.seznam, .seznam a{
		font-size: 1.2rem;/*zkj si cringe bro?*/
		font-weight: 600;
	}
}
