:root {
	--bg-color: #f0fff6;
	/*--bg-color-transparent: rgb(0, 0, 0, 0.5);/*0.6 za tmno*/

	--text-color: #f3f6ff; /*#e8ebf7;*/
	--navbar-color: #3b9169;
	--navbar-color: hsl(150, 63%, 55%);
	--navbar-text-color: /*hsl(281, 63%, 60%)*/white;
	/*--navbar-text-color: hsl(0, 0%, 20%); /* dobr se vid sam ugly */

	--title-color: #0da55e;/*#CCECE5;*/
	--footer-color: #544B3D;
	/*--container-bg-color: rgba(65, 65, 65, 0.7);/*will the real slim shady please stand up?*/
	--container-bg-color: #555;

	--text-weight: 500;
	--text-size: 1.5rem;
	--text-size-mobile: 1.2rem;
	--label-size: 1.5rem;
	--label-size-mobile: 1.2rem;
	--obline: 10px;
	--blur: 0px;

	/* gallery stuff */
	--gallery-spacing: 30px;
	--picture-radius: 20px;
}