h1, h2 {
	font-size: 2em;
	font-weight: 1000;

	color: var(--title-color);

	font-weight: bold;
	text-shadow: 1px 1px 2px black;
	letter-spacing: 1px;
}

#contact-list {
	margin: 0 0em;
	margin-left: 2em;
	padding: 0;
}

a {
	text-decoration: none;
	cursor: pointer;
}

.logo {
	cursor: pointer;
}

p, a {
	color: var(--text-color);
	color: var(--title-color);
	font-size: var(--text-size);
	font-weight: var(--text-weight);
}

.seznam, .seznam a{
	font-size: var(--text-size);/*zkj si cringe bro?*/
	font-weight: var(--text-weight);
}

/*to je za kalkulatorij*/
.container label {
	line-height: 35px;	
    margin-left: 1em;
	font-size: var(--label-size);
    color: var(--text-color);
}


/* ------------------- MOBILNIKI -------------------  */

@media (max-width: 800px) {
	
	/*MANJSHI THEXT*/
	p, a {
		font-size: var(--text-size-mobile);
		font-weight: var(--text-weight);
	}

	/* da contact list ni prevelk */
	.seznam, .seznam a{
		font-size: var(--text-size-mobile);/*zkj si cringe bro?*/
		font-weight: var(--text-weight);
	}

	/*to je za kalkulatorij*/
	.container label {
	    margin-left: 0;
		font-size: var(--label-size-mobile);
	    color: var(--text-color);
	}
}