@import url("css/preloader.css");
@import url("css/nav.css");
@import url("css/container.css");
@import url("css/main.css"),
@import url("css/misc.css");
@import url("css/text.css");
@import url("css/btn.css");

html {
	font-family:  -apple-system, 'Roboto', 'Helvetica', 'Arial', sans-serif;
	background-size: cover;
	background-attachment: fixed;
	top: 0;
	left: 0;
	overflow-x: hidden !important;
}

body {
	background-color: var(--bg-color);
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	padding-bottom: 5vh;
}

#rentables {
	border: black solid 1px;
	border-collapse: collapse;
	width: 50%;
	max-width: 100%;
}

#rentables th {
	text-align: center;
	border: black solid 1px;
}

#rentables td {
	text-align: center;
	border: none;
}