/*@import url("css/root.css"); /*pridifined veljues*/
@import url("css/preloader.css");
@import url("css/nav.css");
@import url("css/container.css");
@import url("css/main.css");/*html,body...*/
@import url("css/misc.css");
@import url("css/text.css");
@import url("css/mobile.css");

html {
    font-family:  -apple-system, 'Roboto', 'Helvetica', 'Arial', sans-serif;
    background-size: cover;
    background-attachment: fixed;
    top: 0;
    left: 0;
}


body {
    background-color: var(--bg-color);
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden !important;/*NEDELA*/
}

#calc-receipt {
	margin: 0 auto;
	padding: 0;

	width: 80vw;
	max-width: 80vw;

	background-color: rgba(0, 0, 0, 0);
	backdrop-filter: none;
    
    display: flex;
    justify-content: space-between;
    gap: 5%;
    align-items: stretch;
}

    #calc-receipt .container {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    /* DA NI 2x margina */
    #calc.container, #reciept.container {
    	margin-bottom: 0;
    }


/*Receipt table style*/

#receipt {
    /*height: 100%;*/
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#receipt table {
    width: 100%;
}

#receipt-items th:nth-child(1), #receipt-items td:nth-child(1) {
    width: 55%;
}

#receipt-items th:nth-child(2), #receipt-items td:nth-child(2) {
    width: 15%;
    text-align: center;
}

#receipt-items th:nth-child(3), #receipt-items td:nth-child(3) {
    width: 30%;
    text-align: center;
}

#receipt-items td:nth-child(3) {
    text-align: right;
}

#total_row td:nth-child(1) {
    width: 55%;
}

#total_row td:nth-child(2) {
    width: 15%;
    text-align: center;
}

#total_row td:nth-child(3) {
    width: 30%;
    text-align: right;
}

#receipt-items th {
    text-align: left;
}

#receipt-items td {
    height: 1.75em;
}

tr.hidden, tr.hiddenByJS {
    visibility: hidden;
}

tr.removed, tr.removedByJS {
    display: none;
}

#receipt_table_footer td, #receipt_table_footer td {
    
}

#total_row td{
    font-weight: bold;
    color: var(--title-color);
}

#receipt-items {
    flex: 1;
    width: 100%;
    color: var(--text-color);
}

	#receipt-items th {
    	color: var(--text-color);
	}

@media (max-width: 600px) {
    #calc-receipt {
        flex-direction: column;
        align-items: center;
    }

    #calc-receipt .container {
        width: 90%;
    }

    #calc-receipt .container:first-child {
        margin-right: 0;
    }
}


input {

    aspect-ratio: 2 / 1;
    width: 3em;
    padding: 0 0.1rem;
    margin: 0;

    border-radius: 5px;
    border: none;

    background-color: rgba(255, 255, 255, 0.8);

    font-size: 20px;
}

selection , option {
    aspect-ratio: 2 / 1;
    width: 3em;
    padding: 0;
    margin: 0;
}
