/*@import "button.css";*/

body {
    background-image: url('assets/background.jpg');
    font-family: Arial, sans-serif;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

#page-container {
    max-width: 75vw;
    margin: 0% auto;
    margin-top: 0;
    padding: 0% 1%;
}

#navbar {
    background-color: #80d0B0;
    padding: 0.5em;
    border-radius: 0.5em;
    margin-bottom: 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navbar img {
    width: 60px;
    height: 60px;
}

#navbar ul {
    list-style-type: none;
    padding: 0;
}

    #navbar ul li {
        display: inline;
        padding: 0.2em;
    }

        #navbar ul li a {
            color: #2BF0E4;
            color: #333333;
            text-decoration: none;
            font-weight: bold;
            padding: 1em;
            border-radius: 0.5em;
            transition: .5s ease-in-out;
        }

            #navbar ul li a:hover {
                background-color: #B6DBE2;
                background-color: #b4ddcd;
                background-color: #B6DBE2;
            }


button {
    cursor: pointer;
}

.btn {
    background-color: #80d0B0;
    border-radius: 0.5em;
    border: none;
    padding: 0.5em;
    box-shadow: 3px 3px 2px #4d9478;
    transition: .2s ease-in-out;
}

    .btn:hover {
        background-color: #B6DBE2;
        box-shadow: 2px 2px 1px #4d9478;
    }

    .btn:active {
        transition: 0.2s;
        transform: translate(2px,2px);
    }

div.container {
    max-width: 100%;
    margin: 0;
    margin-bottom: 3%;
    padding: 3%;
    background-color: rgb(207 255 254 / 45%);
    border-radius: 1em;
    backdrop-filter: blur(7px);
}

    .container p {
        margin-left: 1em;
    }

    .container label {
        margin-left: 1em;
    }
    /*
.container:last-child {
    margin-bottom: 0;
}*/
    
#calc-receipt {
    display: flex;
    justify-content: space-between;
    gap: 3%;
    align-items: stretch;
}

    #calc-receipt .container {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }



/*Receipt table style*/
#receipt table {
    width: 100%;
}

#receipt {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#receipt-items th:nth-child(1), #receipt-items td:nth-child(1) {
    width: 55%;
}

#receipt-items th:nth-child(2), #receipt-items td:nth-child(2) {
    width: 15%;
    text-align: center;
}

#receipt-items th:nth-child(3), #receipt-items td:nth-child(3) {
    width: 30%;
    text-align: center;
}

#receipt-items td:nth-child(3) {
    text-align: right;
}

#total_row td:nth-child(1) {
    width: 55%;
}

#total_row td:nth-child(2) {
    width: 15%;
    text-align: center;
}

#total_row td:nth-child(3) {
    width: 30%;
    text-align: right;
}

#receipt-items th {
    text-align: left;
}

#receipt-items td {
    height: 1.75em;
}

tr.hidden, tr.hiddenByJS {
    visibility: hidden;
}

tr.removed, tr.removedByJS {
    display: none;
}

#receipt_table_footer td, #receipt_table_footer_daily td {
    font-weight: bold;
}

#receipt-items {
    flex: 1;
    width: 100%;
}


@media (max-width: 600px) {
    #calc-receipt {
        flex-direction: column;
        align-items: center;
    }

    #calc-receipt .container {
        width: 100%;
        margin: 0 0 1.5rem 0;
    }

    #calc-receipt .container:first-child {
        margin-right: 0;
    }
}